.contentHolder {
  display: flex;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;

  .textTitleHolder {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    .contentTitleHolder {
      font-weight: 800;
      font-size: 64px;
      line-height: 96px;
      width: calc(73% - 10px);
      margin-bottom: 15px;
      max-width: 850px;
    }

    .contentTextHolder {
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
    }
  }

  .imageHolder {
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 768px) {
      display: none;
    }
  }
}
