.headerHolder {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  background-color: #18284c;
  z-index: 1;
  width: 99%;
  justify-content: space-between;

  .logoHolder {
    display: flex;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .brandNameHolder,
  .headerTitleHolder {
    display: flex;
    color: #fff;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
  }

  .headerTitle {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    margin-right: 16px;
  }

  .buttonHolder {
    border-radius: 999px;
    border: 2px solid #d0d5dd;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    padding: 8px;
  }
}
