.sidebarHolder {
  display: inline-flex;
  flex-direction: column;
  padding: 10px 25px;
  width: 200px;
  position: fixed;
  left: 0;
  overflow: scroll;
  height: 100%;
  top: 85px;

  .sidebarTitleHolder {
    padding: 10px 0px;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .screensCheckboxHolder {
    display: flex;
    flex-direction: column;
  }

  .ant-btn-primary {
    background-color: #18284c;
  }

  .ant-slider-track {
    background-color: #a6bcf0;
  }
}
